<div id="installAppModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sone</h3>
  </div>
  <div class="modal-body">
    <div class="span2 pull-right">
      <strong>Version:</strong> 1.0 <br><br>
      <strong>Requirements:</strong>
      <ul>
        <li>Web of Trust</li>
      </ul>
      <strong>Site:</strong> <br><a href="#">Freenet</a> <span class="muted">|</span> <a href="#">Internet</a>
    </div>
    <p>Sone is a plugin for Freenet that implements a social network (modelled after Facebook) on top of Freenet. A person and follower centered discussion-system.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <div class="btn-group">
            <button class="btn btn-success" title="Install from Freenet">Install from Freenet</button>
            <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Install from Internet</a></li>
            </ul>
          </div>
  </div>
</div>