<legend>
	Connect to a friend
</legend>
<strong>Which one applies to you?</strong>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				I have my friend's node copied to my clipboard (via Ctrl-C)
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse ">
			<div class="accordion-inner">
				<legend>1 - Insert your friend's node reference</legend>
				Paste the node reference:<br>
				<textarea rows="5" class="span8"></textarea>
				<br>
				<legend>2 - How much is your level of trust on this friend?</legend>
				<p class="muted">A higher trust level will improve performance for you and your friend. But this makes you more vulnerable if they are untrustworthy, or their computer is hacked or seized.</p>
				<label class="radio">
					<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked>
					<strong>HIGH</strong><br> I trust my friend, and I trust his ability to secure his computer. Share as much information as possible to maximise performance.
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
					<strong>NORMAL</strong><br> I trust my friend a little. Share some information, but take some precautions. Moderate performance gain.
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
					<strong>LOW</strong><br> I don't trust my friend. Share as little as possible. Lower performance. Note that this is still safer than connecting to strangers in almost all cases.
				</label>
				<br>
				<legend>3 - Do you want your other friends to be able to see and connect to this friend?</legend>
				<p class="muted">If you let your friends see this friend, and this friend see your friends, it will improve performance significantly. However you might not want your other friends to know about this one (but bear in mind that anyone who can see your internet connection might be able to link you). (S)he can also disable being seen by your friends.</p>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					<strong>YES</strong><br> Tell my other friends about this friend, and tell this friend about my other friends. They will be able to connect immediately even if I am offline, improving performance significantly.
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					<strong>NAME ONLY</strong><br> Tell this friend our other friends' nicknames, and tell our other friends this friend's nicknames, so they can connect if they know each other.
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					<strong>NO</strong><br> Don't tell my friends about this friend, and don't let them tell their other friends about me: they are a secret contact.
				</label>
				<br>
				<legend>4 - Notes <small>(optional)</small></legend>
				<input type="text" class="span8" placeholder="Use this field to save some note/description">
				<br><br>
				<a href="#" class="btn btn-success">Add friend</a>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				I have an URL to my friend's node reference file
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<legend>1 - Enter the URL of your friend's node reference</legend>
				<input type="text" class="span8" placeholder="Enter the URL of your friend's node reference">
				<br>
				<legend>2 - etc...</legend>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				I have the reference file of my friend's node
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<legend>1 - Select the reference file of your friend's node</legend>
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
				</div>
				<br>
				<legend>2 - etc...</legend>

			</div>
		</div>

	</div>
</div>

<br>
<legend>
	Why you should connect to your friends running Freenet
</legend>

<p>You can improve Freenet's security by connecting to your friends. That is, to people you actually know who also run Freenet. These can be online acquaintances, but do not add connections to total strangers, as adding strangers as Friends will not improve security much and will cause problems for the network as a whole if lots of people do it. When you have added enough Friends, so that at least 5 are online at all times, you can increase your network security level to HIGH, and only connect to Friends, which is called "darknet mode". This makes it much harder for an attacker to even find out that you are running Freenet, and makes most attacks against your anonymity much harder. Freenet will make encrypted connections to your friends directly over the Internet, so only add people you can already be easily connected to (family, coworkers, real life friends, online friends).</p>
<p>In order to connect to a Friend, you need to exchange noderefs with them. A noderef is a small file which contains the information needed for their copy of Freenet ("Freenet node") to connect to yours. You must add their noderef and they must add your noderef, for the two nodes to connect. See below for your noderef.</p>
<p>Freenet has not yet managed to download the Windows installer, however you can get it over Freenet <a href="http://127.0.0.1:8888/SSK@sabn9HY9MKLbFPp851AO98uKtsCtYHM9rqB~A5cCGW4,3yps2z06rLnwf50QU4HvsILakRBYd4vBlPtLv0elUts,AQACAAE/installer-1444">here</a>.</p>
<p>Freenet has not yet managed to download the non-Windows installer, however you can get it over Freenet <a href="http://127.0.0.1:8888/SSK@sabn9HY9MKLbFPp851AO98uKtsCtYHM9rqB~A5cCGW4,3yps2z06rLnwf50QU4HvsILakRBYd4vBlPtLv0elUts,AQACAAE/wininstaller-1444">here</a>. This is a jar file which must be opened with java; hopefully your friend can double click on it, but if that doesn't work try opening a command line and typing "java -jar freenet-latest-installer-nonwindows.jar".</p>
