<div class="pull-right">
<span class="badge">1 - Node reference</span>
<small class="icon-arrow-right"></small>
<span class="badge badge-success">2 - Trust</span>
<small class="icon-arrow-right"></small>
<span class="badge">3 - Visibility</span>
</div>
<div class="page-header clearfix">
	<h4>2 - How much is your level of trust on this friend?</h4>
</div>
<p class="muted">A higher trust level will improve performance for you and your friend. But this makes you more vulnerable if they are untrustworthy, or their computer is hacked or seized.</p>
<label class="radio">
	<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked>
	<strong>HIGH</strong><br> I trust my friend, and I trust his ability to secure his computer. Share as much information as possible to maximise performance.
</label>
<label class="radio">
	<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
	<strong>NORMAL</strong><br> I trust my friend a little. Share some information, but take some precautions. Moderate performance gain.
</label>
<label class="radio">
	<input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
	<strong>LOW</strong><br> I don't trust my friend. Share as little as possible. Lower performance. Note that this is still safer than connecting to strangers in almost all cases.
</label>
<br>


<div class="apply-buttons modal-footer">
<a href="/addfriend?menu=friends" class="act act-warning pull-left">Cancel</a>
<a href="/addfriend1?menu=friends" class="act act-danger act-large"><i class="icon-arrow-left"></i> Back</a>
<span>or</span>
<a href="/addfriend3?menu=friends" class="btn btn-primary btn-large">Next <i class="icon-arrow-right"></i></a>
</div>
