<div class="pull-right">
<span class="badge">1 - Node reference</span>
<small class="icon-arrow-right"></small>
<span class="badge">2 - Trust</span>
<small class="icon-arrow-right"></small>
<span class="badge badge-success">3 - Visibility</span>
</div>
<legend>3 - Do you want your other friends to be able to see and connect to this friend?</legend>
<p class="muted">If you let your friends see this friend, and this friend see your friends, it will improve performance significantly. However you might not want your other friends to know about this one (but bear in mind that anyone who can see your internet connection might be able to link you). (S)he can also disable being seen by your friends.</p>
<label class="radio">
	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	<strong>YES</strong><br> Tell my other friends about this friend, and tell this friend about my other friends. They will be able to connect immediately even if I am offline, improving performance significantly.
</label>
<label class="radio">
	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	<strong>NAME ONLY</strong><br> Tell this friend our other friends' nicknames, and tell our other friends this friend's nicknames, so they can connect if they know each other.
</label>
<label class="radio">
	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	<strong>NO</strong><br> Don't tell my friends about this friend, and don't let them tell their other friends about me: they are a secret contact.
</label>
<br>
<div class="apply-buttons modal-footer">
<a href="/addfriend?menu=friends" class="act act-warning pull-left">Cancel</a>
<a href="/addfriend2?menu=friends" class="act act-danger act-large"><i class="icon-arrow-left"></i> Back</a>
<span>or</span>
<a href="/addfriend?menu=friends" class="btn btn-success btn-large">Add friend</a>
</div>
