<section>
  <div class="page-header clearfix">
    <h3>
      My Friends
    </h3>
  </div>
  <div class="btn-toolbar">
    <a href="/apps/addfriend" class="btn btn-success">Add new friend</a>
    <a href="#" class="btn" id="btn_n2ntm" disabled>Send N2NTM</a>
    <div class="btn-group">
     <a class="btn dropdown-toggle" id="btn_trust" data-toggle="dropdown" href="#" disabled>
      Trust
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
     <li><a href="">High</a></li>
     <li><a href="">Normal</a></li>
     <li><a href="">Low</a></li>
   </ul>
 </div>
 <div class="btn-group">
   <a class="btn dropdown-toggle"  id="btn_visibility"  data-toggle="dropdown" href="#" disabled>
    Visibility
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   <li><a href="">Hidden</a></li>
   <li><a href="">Name only</a></li>
   <li><a href="">Visible</a></li>
 </ul>
</div>
<a href="#" class="btn btn-danger"  id="btn_remove"  disabled>Remove</a>
<div class="btn-group pull-right" data-toggle="buttons-radio">
  <button type="button" class="btn btn-mini simpleModeBtn" data-parenttohide="friends">Basic</button>
  <button type="button" class="btn btn-mini advancedModeBtn" data-parenttohide="friends">Advanced</button>
</div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="1%"></th>
      <th class="text-small" width="1%">Status</th>
      <th class="text-small">Name</th>
      <th class="text-small">Trust level</th>
      <th class="text-small">Visible to friends?</th>
      <th class="text-small advanced" data-parent="friends">Address</th>
      <th class="text-small advanced" data-parent="friends">Freenet version</th>
      <th class="text-small">Connected / Idle</th>
      <th class="text-small">Note(private)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td><input type="checkbox" id="enable_buttons"></td>
      <td><span class="label label-success">CONNECTED</span></td>
      <td>Mike</td>
      <td>HIGH</td>
      <td>NO</td>
      <td class="advanced" data-parent="friends">x:24374 (282ms / 1000ms)</td>
      <td class="advanced" data-parent="friends">1445</td>
      <td>1m13s</td>
      <td><a href="#" data-type="text" data-pk="1" data-original-title="Enter note" class="friend-note editable editable-click editable-open">my brother</a></td>
    </tr>
  </tbody>
</table>
</section>
<section>

  <div class="page-header clearfix">
    <h3>
      My node
    </h3>
  </div>
  <strong>Nickname for this node:</strong> <a href="#" data-type="text" data-pk="1" data-original-title="Edit node name" class="friend-note editable editable-click editable-open">xxxxxxx</a>
  <br>
  <br>
  <strong>Node reference file:</strong> <a href="#" class="btn btn-link">Open</a> <span class="muted">Send this file to your friends so they can add your node as a friend.</span>
</section>