<legend>
My Friends (trusted peers added by me)
</legend>
<div class="btn-toolbar">
	<a href="#" class="btn" id="btn_n2ntm" disabled>Send N2NTM</a>
    <div class="btn-group">
 		<a class="btn dropdown-toggle" id="btn_trust" data-toggle="dropdown" href="#" disabled>
    		Trust
    	<span class="caret"></span>
  		</a>
	  <ul class="dropdown-menu">
	    <li><a href="">HIGH</a></li>
	    <li><a href="">NORMAL</a></li>
	    <li><a href="">LOW</a></li>
	  </ul>
	</div>
	    <div class="btn-group">
 		<a class="btn dropdown-toggle"  id="btn_visibility"  data-toggle="dropdown" href="#" disabled>
    		Visibility
    	<span class="caret"></span>
  		</a>
	  <ul class="dropdown-menu">
	    <li><a href="">Hidden</a></li>
	    <li><a href="">Name only</a></li>
	    <li><a href="">Visible</a></li>
	  </ul>
	</div>
	<a href="#" class="btn btn-danger"  id="btn_remove"  disabled>Remove</a>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th class="text-small">Status</th>
      <th class="text-small">Name</th>
      <th class="text-small">Trust level</th>
      <th class="text-small">Visible to friends?</th>
      <th class="text-small">Address</th>
      <th class="text-small">Freenet version</th>
      <th class="text-small">Connected / Idle</th>
      <th class="text-small">Note(private)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" id="enable_buttons"></td>
      <td><span class="label label-success">CONNECTED</span></td>
      <td>Mike</td>
      <td>HIGH</td>
      <td>NO</td>
      <td>x:24374 (282ms / 1000ms)</td>
      <td>1445</td>
      <td>1m13s</td>
      <td><a href="#" data-type="text" data-pk="1" data-original-title="Enter note" class="friend-note editable editable-click editable-open">my brother</a></td>
    </tr>
  </tbody>
</table>

<br>
<legend>
My node
</legend>
<strong>Nickname for this node:</strong> xxxx <a href="#" class="btn btn-small btn-link">Edit</a>
<br>
<br>
<strong>Node reference:</strong> <a href="#" class="btn btn-link">Open</a>
<br>
Send this file to your friends so they can add your node as a friend.