<div class="row">
  <div class="span8 offset2 text-center">
    <h3>Downloading page</h3>
    <h5 class="muted">The page will automatically open when done. Please wait..</h5>

    <br>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 60%;"><strong>6/10</strong></div>
    </div>
    <div class="row muted" style="margin-top:-20px">
      <div class="span2 pull-right text-right">Blocks: 3/8</div>
      <div class="span2 pull-left text-left">File size: 2 mb</div>
      <div class="span2 text-center offset1">Time elapsed: 2 min</div>
    </div>
<br><br>

<p class="muted">This could take seconds or minutes depending on how big and how popular the page or file is - the more often something is accessed in Freenet, the better is its availability and download speed.
<br>
<strong>TIP: </strong>CTRL-click a link to open it in a new tab.</p>

<br><br>
  <div class="accordion text-left" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          More Actions
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <label class="checkbox"><input type="checkbox" checked> Filter Data <small class="text-warning">(recomended)</small>
           <br><small class="muted">The filter will try to prevent your computer from running anything which might harm it, or break your anonymity. Keeping this checked is strongly recommended.</small></label>

          <a href="#" class="btn btn-link">Save As...</a>
          <a href="#" class="help-icon" data-toggle="popover" data-placement="right" data-content="Save the file to your <a href='#'>downloads</a> folder. You will be notified when the download completes, and can follow its progress on the <a href='#'>downloads</a> page" title=""><i class="icon-question-sign"></i></a>
          <br>
          <a href="#" class="btn btn-link">Download file in background</a>
          <a href="#" class="help-icon" data-toggle="popover" data-placement="right" data-content="Fetch the file in the background. It will be accessible only through the downloads page, and will be lost if you uninstall Freenet, click the panic button, or lose the master password. You will be notified when the fetch completes." title=""><i class="icon-question-sign"></i></a>
          <br>

           <a href="#" class="btn btn-link">Cancel download and return to the previous page</a>

        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Download Information
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <li>Filename: fetchpull-817</li>
            <li>Blocks: 0 / 1 (total 2 failed 0 fatally failed 0)</li>
            <li>Time elapsed: 9s</li>
            <li>Last refresh was 0s ago</li>
            <li>...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<br>
<p class="text-error"><strong>Attention:</strong> If you change page (by clicking any link) the download will be aborted.</p>
  </div>
</div>