<ul>
  <li><a title="A large, regularly updated index, linking to absolutely everything. Some sites may not have accurate descriptions. Be careful!" href="/redesign/downloadingfile">Linkageddon</a> <small class="muted">A large, regularly updated index, linking to absolutely everything. Some sites may not have accurate descriptions. Be careful!</small> </li>
  <li><a title="An index of freenet sites with categories" data-toggle="tooltip" href="#">AFKindex</a></li>
  <li><a data-toggle="tooltip"  title="A one-page index with a menu including categories" href="#">The
    Ultimate FreeNet Index</a></li>
    <li><a data-toggle="tooltip" title="A small French index with descriptions" href="#">Index
      des sites Français</a></li>
</ul>