<div class="text-center">
<h1>Freenet redesign project</h1>
<p class="lead text-center" style="width: 600px;">
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>There are no centralised servers in freenet. Each user of freenet is a node.</h5>" data-placement="bottom">Decentralised</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>By being decentralised content published cannot be taken down. <br>  In freenet, information cannot be removed nor censored.</h5>" data-placement="bottom">censorship-resistant</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>Communications between nodes are encrypted and are routed through other nodes to make it extremely difficult to determine who is requesting the information and what its content is.</h5>" data-placement="bottom">anonymous network </a>
</p>
</div>

<h3>What's this all about?</h3>
<p>bla</p>


<h3>What you can do in freenet?</h3>
<ul>
  <li>Browse content</li>
  <li>Talk to people (visit forums, chat, microblogging, etc)</li>
  <li>Search for content</li>
  <li>Have an anonymous email</li>
  <li>Have an anonymous identity :)</li>
  <li>Publish content (freesite, blog, etc)</li>
  <li>Upload a file</li>
</ul>



<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(".popme").popover();
</script>



