<div class="text-center">
<h1>Freenet redesign project</h1>

</div>

<h3>What's this all about?</h3>
<p>bla</p>


<h3>What you can do in freenet?</h3>
<ul>
  <li>Browse content</li>
  <li>Talk to people (visit forums, chat, microblogging, etc)</li>
  <li>Search for content</li>
  <li>Have an anonymous email</li>
  <li>Have an anonymous identity :)</li>
  <li>Publish content (freesite, blog, etc)</li>
  <li>Upload a file</li>
</ul>



<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(".popme").popover();
</script>



