<section>
	<div class="page-header">
		<button type="button" class="pull-right btn btn-link btn-mini advancedModeBtn" data-parenttohide="installation">Advanced <i class="icon-caret-down"></i></button>
		<h1>Installation settings</h1>
	</div>



	<div class="row">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxx.xxxx]">User data directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for user data (e.g. bookmarks, download lists).
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="."> <a href="#" class="btn">Select</a>
			</div>
		</div>
	</div>
	<hr>




	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Config directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for user-editable config (e.g. language overrides).
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">




	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Node-reference directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for node-related information (e.g. node identity, peers).
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">






	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Run-time state directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for run-time state. This can be cleared out when Freenet is not running.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">





	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Plugin directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for plugins.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="plugins">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">



	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Temp files directory. This can be cleared out when Freenet is not running.</abbr>
			</strong>
			<p class="muted">
				Name of directory to put temporary files in
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="temp">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">



	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Persistent temp files directory</abbr>
			</strong>
			<p class="muted">
				Path of directory to put persistent temp files in. Persistent means that this should be kept even when Freenet is not running.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="persistent-temp-22227">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">




	<div class="row advanced" data-parent="installation">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Store directory</abbr>
			</strong>
			<p class="muted">
				Path of directory for the datastore files, which holds data (keys, blocks, etc) served to other freenet users.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="datastore">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="installation">

</section>


<div class="apply-buttons modal-footer">
	<a href="#" class="act act-warning pull-left">Reset to defaults</a>
	<a href="#" class="act act-danger act-large">Discard changes</a>
	<span>or</span>
	<a href="#" class="btn btn-primary btn-large">Save changes</a>
</div>


