
<section>
	<div class="page-header">
<button type="button" class="pull-right btn btn-link btn-mini advancedModeBtn" data-parenttohide="inetconn">Advanced <i class="icon-caret-down"></i></button>

		<h3>
			Internet connection
		</h3>
	</div>

	<br>
	<div>
		<h4>Ports used by your Freenet node</h4>
<ul>
								<li>Darknet FNP: 22227/UDP (used to connect to trusted peers i.e. Friends; forward this port if you can)</li>
								<li>Opennet FNP: 56058/UDP (used to connect to untrusted peers i.e. Strangers; forward this port if you can)</li>
								<li>FProxy: 8888/TCP (this web interface)</li>
								<li>FCP: 9481/TCP (for Freenet clients such as Frost and Thaw)</li>
								<li>TMCI is disabled (simple telnet-based command-line interface)</li>

							</ul>
	</div>


	<br>
	<div class="advanced" data-parent="inetconn">
		<h4>Connectivity</h4>
		<table class="table table-condensed">
								<tbody><tr>
									<td>
										UDP Darknet port 22227
									</td>
									<td>
										Status unknown
									</td>

								</tr>
								<tr>
									<td>
										UDP Opennet port 56058
									</td>
									<td>
										Status unknown
									</td>

								</tr>

							</tbody></table>
	</div>



	<br>
	<div class="advanced" data-parent="inetconn">
		<h4>Packets for UDP Darknet port 22227 by port - Status unknown (minimum tunnel lifetime 0s)</h4>
		<table class="table table-condensed">
								<tbody><tr>
									<th>Address</th><th>Sent/received packets</th><th>Local/remote</th><th>Startup to first send</th><th>Online to first receive</th><th> </th><th> </th><th> </th><th> </th><th> </th>
								</tr>

							</tbody></table>
	</div>


	<br>
	<div class="advanced" data-parent="inetconn">
		<h4>Packets for UDP Darknet port 22227 by IP address - Status unknown (minimum tunnel lifetime 0s)</h4>
		<table class="table table-condensed">
								<tbody><tr>
									<th>Address</th><th>Sent/received packets</th><th>Local/remote</th><th>Startup to first send</th><th>Online to first receive</th><th> </th><th> </th><th> </th><th> </th><th> </th>
								</tr>

							</tbody></table>
	</div>


	<br>
	<div class="advanced" data-parent="inetconn">
		<h4>Packets for UDP Opennet port 56058 by port - Status unknown (minimum tunnel lifetime 0s)</h4>
		<table class="table table-condensed">
								<tbody><tr>
									<th>Address</th><th>Sent/received packets</th><th>Local/remote</th><th>Startup to first send</th><th>Online to first receive</th><th> </th><th> </th><th> </th><th> </th><th> </th>
								</tr>
								<tr>
									<td>
										x:7086
									</td>
									<td>
										70/ 70
									</td>
									<td>
										LOCAL
									</td>
									<td>
										12m40s
									</td>
									<td>
										12m34s
									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>

								</tr>


							</tbody></table>
	</div>


	<br>
	<div class="advanced" data-parent="inetconn">
		<h4>Packets for UDP Opennet port 56058 by IP address - Status unknown (minimum tunnel lifetime 0s)</h4>
		<table class="table table-condensed">
								<tbody><tr>
									<th>Address</th><th>Sent/received packets</th><th>Local/remote</th><th>Startup to first send</th><th>Online to first receive</th><th> </th><th> </th><th> </th><th> </th><th> </th>
								</tr>
								<tr>
									<td>
										/x
									</td>
									<td>
										73/ 71
									</td>
									<td>
										LOCAL
									</td>
									<td>
										4s
									</td>
									<td>
										2s
									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>

								</tr>


							</tbody></table>
	</div>



</section>