<section>
	<div class="page-header">
		<h1>Key utils settings</h1>
	</div>


	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">auto manifest</abbr>
			</strong>
			<p class="muted">
				open key as manifest/site if possible.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option1" checked>
					Yes
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option2">
					No
				</label>
			</div>
		</div>
	</div>
	<hr>



	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">parse manifest recursive</abbr>
			</strong>
			<p class="muted">
				this usually includes further fetches
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option1" checked>
					Yes
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option2">
					No
				</label>
			</div>
		</div>
	</div>
	<hr>


	
	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">parse into multilevel metadata</abbr>
			</strong>
		</div>
		<div class="span4">
			<div class="pull-right">
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option1" checked>
					Yes
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option2">
					No
				</label>
			</div>
		</div>
	</div>
	<hr>

	
	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Hex view width</abbr>
			</strong>
			<p class="muted">
				Columns for the hexadecimal content view
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="32">
			</div>
		</div>
	</div>
	<hr>


</section>



<div class="apply-buttons modal-footer">
	<a href="#" class="act act-warning pull-left">Reset to defaults</a>
	<a href="#" class="act act-danger act-large">Discard changes</a>
	<span>or</span>
	<a href="#" class="btn btn-primary btn-large">Save changes</a>
</div>


