    <div class="alert alert-info alert-block">
      <h5>Bookmark Updated: Freenet Message System</h5>
      The bookmarked site <a href="#">Freenet Message System</a> has been updated to edition 137.
      <br><br>
      <a href="#" class="btn btn-danger"  data-dismiss="alert">delete message</a>
    </div>
    <div class="alert alert-block">
      <h5>Warning!</h5>
      Ononononon n onno no on onnono...
      <br><br>
      <a href="#" class="btn btn-danger"  data-dismiss="alert">delete message</a>
    </div>