<h1>Freenet redesign propostal</h1>
<!-- p class="lead text-center" style="width: 600px;">
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>There are no centralised servers in freenet. Each user of freenet is a node.</h5>" data-placement="bottom">Decentralised</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>By being decentralised content published cannot be taken down. <br>  In freenet, information cannot be removed nor censored.</h5>" data-placement="bottom">censorship-resistant</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>Communications between nodes are encrypted and are routed through other nodes to make it extremely difficult to determine who is requesting the information and what its content is.</h5>" data-placement="bottom">anonymous network </a>
</p -->
<br>
<h4>Phases</h4>
<ul>
<li>Wireframing <-- I'm here</li>
<li>Code refactoring (HTML, CSS, JS)</li>
<li>Texts refactoring</li>
</ul>

<br>
<h4>Pages list</h4>
<strong>NOTE: None of the current mockups are really done. They are all in VERY early stage.</strong>
<ul>
	<li>Wizard
		<ul>
			<li>Step 1 - <a href="/current/wizard1.html">[current]</a> | [mockup]</li>
			<li>Step 2 - <a href="/current/wizard2.html">[current]</a> | [mockup]</li>
			<li>Step 3 - <a href="/current/wizard3.html">[current]</a> | [mockup]</li>
			<li>Step 4 - <a href="/current/wizard4.html">[current]</a> | [mockup]</li>
			<li>Step 5 - <a href="/current/wizard5.html">[current]</a> | [mockup]</li>
		</ul>
	</li>
	<li>Splash</li>
	<li>Dashboard - <a href="/current/welcome.html">[current]</a> | <a href="/welcome">[mockup]</a></li>
	<li>Apps menu
		<ul>
			<li>Messaging</li>
			<li>Communities
				<ul>
					<li>Anonymous Identity (WOT) - [current] | [mockup]</li>
					<li>Friends list - <a href="/current/connection_friends.html">[current]</a> | [mockup]</li>
					<li>Add friend - <a href="/current/friends.html">[current]</a> | [mockup]</li>
				</ul>
			</li>
			<li>Discussion</li>
			<li>Tools
				<ul>
					<li>Key utils</li>
				</ul>
			</li>
			<li>Install new app - <a href="/current/plugins.html">[current]</a> | <a href="/plugins">[mockup]</a></li>
		</ul>
	</li>
	<li>Browse menu
		<ul>
			<li>Edit Bookmark - <a href="/current/bookmarkeditor.html">[current]</a> | [mockup]</li>
			<li>Search - <a href="/current/library.html">[current]</a> | <a href="/search">[mockup]</a>
				<ul>
					<li>Search in progress - [current] | <a href="/searchinprogress">[mockup]</a></li>
					<li>Search results - [current] | [mockup]</li>
				</ul>
			</li>
			<li>Visit a freesite - <a href="/current/welcome.html">[current]</a> | <a href="/welcome#visitFreesite">[mockup]</a></li>
		</ul>
	</li>
	<li>Downloading file - <a href="/current/downloading.html">[current]</a> | <a href="/downloadingfile">[mockup]</a></li>
	<li>Uploading file - <a href="/current/uploadingfile.html">[current]</a> | [mockup]</li>
	<li>Downloads menu
		<ul>
			<li>Downloads list - <a href="/current/downloads.html">[current]</a> | [mockup]</li>
		</ul>
	</li>
	<li>Upload menu
		<ul>
			<li>Upload Freesite - <a href="/current/insertsite.htm">[current]</a> | [mockup]</li>
			<li>Upload File - <a href="/current/insertfile.html">[current]</a> | [mockup]</li>
		</ul>
	</li>
	<li>Notifications menu
		<ul>
			<li>Notifications list - <a href="/current/alerts.html">[current]</a> | <a href="/notifications?menu=title&title=Notifications">[mockup]</a></li>
		</ul>
	</li>
	<li>Security menu - <a href="#">[current]</a> | [mockup]
		<ul>
			<li>Friends - <a href="/current/friends.html">[current]</a> | [mockup]</li>
		</ul>
	</li>
	<li>Settings menu
		<ul>
			<li>Status menu
				<ul>
					<li>Statistics - <a href="/current/stats.html">[current]</a> | [mockup]</li>
					<li>Diagnostics - [current] | [mockup]</li>
					<li>Connection to strangers - <a href="/current/strangers.html">[current]</a> | [mockup]</li>
					<li>Internet Connection - <a href="/current/connectivity.html">[current]</a> | [mockup]</li>
				</ul>
			</li>

			<li>Security levels - <a href="/current/seclevels.html">[current]</a> | [mockup]</li>
			<li>Plugins - <a href="/current/plugins.html">[current]</a> | <a href="/plugins">[mockup]</a></li>
			<li>Interfaces (console + web + web aliases) - [current]<a href="/current/console.html">[1]</a> <a href="/current/webinterface.html">[2]</a> <a href="/current/webaliases.html">[3]</a> | [mockup]</li>
			<li>Logs - <a href="/current/logger.html">[current]</a> | [mockup]</li>
			<li>Core settings - <a href="/current/core.html">[current]</a> | [mockup]</li>
			<li>Instalation settings - <a href="/current/install.html">[current]</a> | [mockup]</li>
			<li>Load management - <a href="/current/load.html">[current]</a> | [mockup]</li>
			<li>Opennet - <a href="/current/opennet.html">[current]</a> | [mockup]</li>
			<li>Request scheduling - <a href="/current/request.html">[current]</a> | [mockup]</li>
			<li>Auto-update - <a href="/current/autoupdate.html">[current]</a> | [mockup]</li>
			<li>SSL - <a href="/current/ssl.html">[current]</a> | [mockup]</li>
			<li>Translations - <a href="/current/translations.html">[current]</a> | [mockup]</li>
			<li>FCP - <a href="/current/fcp.html">[current]</a> | [mockup]</li>
			<li>Keyutils - <a href="/current/keyutilsconfig.html">[current]</a> | [mockup]</li>
		</ul>
	</li>
</ul>

<script type="text/javascript">
  $(".popme").popover();
</script>