<h2>Freenet redesign propostal</h2>
<!-- p class="lead text-center" style="width: 600px;">
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>There are no centralised servers in freenet. Each user of freenet is a node.</h5>" data-placement="bottom">Decentralised</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>By being decentralised content published cannot be taken down. <br>  In freenet, information cannot be removed nor censored.</h5>" data-placement="bottom">censorship-resistant</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>Communications between nodes are encrypted and are routed through other nodes to make it extremely difficult to determine who is requesting the information and what its content is.</h5>" data-placement="bottom">anonymous network </a>
</p -->
<br>

<h4>Phases</h4>
<ol>
	<li>Organization of the current content <span class="label"><i class="icon-arrow-left"></i> I'm here</span></li>
	<li>Texts refactoring & General usability</li>
	<li>Code refactoring (HTML, CSS, JS) & Implementation</li>
</ol>
<br>

<h4>Notes</h4>
<ul>
	<li>None of the current mockups are 'done'. They are all in VERY early stage.</li>
	<li>Many layout and usability details were omited here but will show up in the final version (e.g. interactions that depends on real content; help texts;)</li>
</ul>
<br>

<h4>Pages list</h4>
<ul>
	<li>Wizard
		<ul>
			<li>Step 1 - <a href="/current/wizard1.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Step 2 - <a href="/current/wizard2.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Step 3 - <a href="/current/wizard3.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Step 4 - <a href="/current/wizard4.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Step 5 - <a href="/current/wizard5.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
		</ul>
	</li>
	<li>Splash</li>
	<li>Dashboard - <a href="/current/welcome.html">current</a> <span class="muted">|</span> <a href="/welcome" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
	<li>Apps menu
		<ul>
			<li>Messaging</li>
			<li>Communities
				<ul>
					<li>Anonymous Identity (WOT) - current <span class="muted">|</span> <span class="muted">mockup</span></li>
					<li>Friends list - <a href="/current/connection_friends.html">current</a> <span class="muted">|</span> <a href="/connectionsfriends?menu=friends" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
					<li>Add friend - <a href="/current/friends.html">current</a> <span class="muted">|</span> <a href="/addafriend?menu=friends" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
				</ul>
			</li>
			<li>Discussion</li>
			<li>Tools
				<ul>
					<li>Key utils</li>
				</ul>
			</li>
			<li>Install new app - <a href="/current/plugins.html">current</a> <span class="muted">|</span> <a href="/plugins" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
		</ul>
	</li>
	<li>Browse menu
		<ul>
			<li>Edit Bookmark - <a href="/current/bookmarkeditor.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Search - <a href="/current/library.html">current</a> <span class="muted">|</span> <a href="/search">mockup</a>
				<ul>
					<li>Search in progress - current <span class="muted">|</span> <a href="/searchinprogress" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
					<li>Search results - current <span class="muted">|</span> <span class="muted">mockup</span></li>
				</ul>
			</li>
			<li>Visit a freesite - <a href="/current/welcome.html">current</a> <span class="muted">|</span> <a href="/welcome#visitFreesite" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
		</ul>
	</li>
	<li>Downloading page - <a href="/current/downloading.html">current</a> <span class="muted">|</span> <a href="/downloadingfile" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
	<li>Uploading file - <a href="/current/uploadingfile.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
	<li>Downloads menu
		<ul>
			<li>Download files list - <a href="/current/downloads.html">current</a> <span class="muted">|</span> <a href="/downloadedfiles" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
		</ul>
	</li>
	<li>Upload menu
		<ul>
			<li>Upload Freesite - <a href="/current/insertsite.htm">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Upload File - <a href="/current/insertfile.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
		</ul>
	</li>
	<li>Notifications menu
		<ul>
			<li>Notifications list - <a href="/current/alerts.html">current</a> <span class="muted">|</span> <a href="/notifications?menu=title&title=Notifications" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
		</ul>
	</li>
	<li>Security menu - current <span class="muted">|</span> <span class="muted">mockup</span>
		<ul>
			<li>Friends - <a href="/current/friends.html">current</a> <span class="muted">|</span> <a href="/connectionsfriends?menu=friends" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
		</ul>
	</li>
	<li>Settings menu
		<ul>
			<li>Status menu
				<ul>
					<li>Statistics - <a href="/current/stats.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
					<li>Diagnostics - current <span class="muted">|</span> <span class="muted">mockup</span></li>
					<li>Connection to strangers - <a href="/current/strangers.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
					<li>Internet Connection - <a href="/current/connectivity.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
				</ul>
			</li>

			<li>Security levels - <a href="/current/seclevels.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Plugins - <a href="/current/plugins.html">current</a> <span class="muted">|</span> <a href="/plugins" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
			<li>Interfaces (console + web + web aliases) - current <a href="/current/console.html">1</a> <a href="/current/webinterface.html">2</a> <a href="/current/webaliases.html">3</a> <span class="muted">|</span> <a href="/interfaces" class="act act-success" class="act act-success" class="act act-success">mockup</a></li>
			<li>Logs - <a href="/current/logger.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Core settings - <a href="/current/core.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Instalation settings - <a href="/current/install.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Load management - <a href="/current/load.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Opennet - <a href="/current/opennet.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Request scheduling - <a href="/current/request.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Auto-update - <a href="/current/autoupdate.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>SSL - <a href="/current/ssl.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Translations - <a href="/current/translations.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>FCP - <a href="/current/fcp.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Keyutils - <a href="/current/keyutilsconfig.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
		</ul>
	</li>
</ul>

<script type="text/javascript">
$(".popme").popover();
</script>