<h2>Freenet redesign propostal</h2>

<br>

<h4>Phases</h4>
<ol>
	<li>Organization of the current content <span class="label"><i class="icon-arrow-left"></i> I'm here</span></li>
	<li>Texts refactoring & General usability</li>
	<li>Code refactoring/validation (HTML, CSS, JS) & Implementation</li>
</ol>
<br>

<h4>Notes</h4>
<ul>
	<li><a href="https://freenetproject.org/" target="blank">Freenet project site</a></li>
	<li>None of the current mockups are 'done'. They are all in VERY early stage.</li>
	<li>Many layout and usability details were omited here but will show up in the final version (e.g. interactions that depends on real content; help texts;)</li>
	<li>Feedback to: _mak on #freenet or on devl</li>
</ul>
<br>

<h4 style="display: inline-block">Pages list</h4>
<small><strong style="margin-left: 10px">(<span class="text-warning">DRAFT</span> / <span class="text-success">FINAL</span>)</strong></small>

<ul>
	<li>Wizard
		<ul>
			<li>Step 1 - <a href="/current/wizard1.html">current</a> <span class="muted">|</span> <a href="/wizard1?menu=wizard" class="act act-warning">mockup</a></li>
			<li>Step 2 - <a href="/current/wizard2.html">current</a> <span class="muted">|</span> <a href="/wizard2?menu=wizard" class="act act-warning">mockup</a></li>
			<li>Step 3 - <a href="/current/wizard3.html">current</a> <span class="muted">|</span> <a href="/wizard3?menu=wizard" class="act act-warning">mockup</a></li>
			<li>Step 4 - <a href="/current/wizard4.html">current</a> </li>
			<li>Step 5 - <a href="/current/wizard5.html">current</a> </li>
		</ul>
	</li>
	<li>Splash - <a href="/current/startup.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
	<li>Dashboard - <a href="/current/welcome.html">current</a> <span class="muted">|</span> <a href="/welcome" class="act act-warning">mockup</a> (<a href="/welcome?messages">with new messages</a>)</li>
	<li>Apps menu
		<ul>
			<li>Messaging</li>
			<li>Communities
				<ul>

					<li>Friends<ul>

						<li>Connection to friends - <a href="/current/connection_friends.html">current</a> <span class="muted">|</span> <a href="/apps/connectionsfriends" class="act act-warning">mockup</a></li>
						<li>Add friend - <a href="/current/friends.html">current</a> <span class="muted">|</span> <a href="/apps/addfriend" class="act act-warning">mockup</a></li>
					</ul></li>
				</ul>
			</li>
			<li>Discussion</li>
			<li>Tools
				<ul>
					<li>Key utils</li>
				</ul>
			</li>
			<li>Install new app - <a href="/current/plugins.html">current</a> <span class="muted">|</span> <a href="/apps/manage" class="act act-warning">mockup</a></li>
		</ul>
	</li>
	<li>Browse menu
		<ul>
			<li>Edit Bookmark - <a href="/current/bookmarkeditor.html">current</a> <span class="muted">|</span> <span class="muted">mockup</span></li>
			<li>Visit a freesite - <a href="/current/welcome.html">current</a> <span class="muted">|</span> <a href="/welcome#visitFreesite" class="act act-warning">mockup</a></li>
			<li>Search - <a href="/current/library.html">current</a> <span class="muted">|</span> <a href="/search" class="act act-warning">mockup</a>
				<ul>
					<li>Search in progress - current <span class="muted">|</span> <a href="/searchinprogress" class="act act-warning">mockup</a></li>
					<li>Search results - current <span class="muted">|</span> <span class="muted">mockup</span></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Downloading page - <a href="/current/downloading.html">current</a> <span class="muted">|</span> <a href="/downloadingfile" class="act act-warning">mockup</a></li>

	<li>Downloads menu
		<ul>
			<li>Download files list - <a href="/current/downloads.html">current</a> <span class="muted">|</span> <a href="/share/downloadedfiles?sel=downloads" class="act act-warning">mockup</a></li>
			<li>Upload files list - <a href="/current/uploadingfile.html">current</a> <span class="muted">|</span> <a href="/share/uploadingfiles?sel=uploads" class="act act-warning">mockup</a></li>
		</ul>
	</li>
	<li>Upload menu
		<ul>
			<li>Upload Freesite - <a href="/current/insertsite.htm">current</a> <span class="muted">|</span> <a href="/uploadfreesite" class="act act-warning">mockup</a></li>
			<li>Upload File - <a href="/current/insertfile.html">current</a> <span class="muted">|</span> <a href="/uploadfile" class="act act-warning">mockup</a></li>
		</ul>
	</li>
	<li>Notifications menu
		<ul>
			<li>Notifications list - <a href="/current/alerts.html">current</a> <span class="muted">|</span> <a href="/notifications?menu=title&title=Notifications" class="act act-warning">mockup</a></li>
		</ul>
	</li>
	<li>Settings menu
		<ul>
			<li>Security levels - <a href="/current/seclevels.html">current</a> <span class="muted">|</span> <span class="muted"><a href="/settings/seclevels" class="act act-warning">mockup</a></span></li>
			<li>Interfaces (console + web + web aliases) - current <a href="/current/console.html">1</a> <a href="/current/webinterface.html">2</a> <a href="/current/webaliases.html">3</a> <span class="muted">|</span> <a href="/settings/interfaces" class="act act-warning">mockup</a></li>
			<li>Logs - <a href="/current/logger.html">current</a> <span class="muted">|</span> <a href="/settings/logs" class="act act-warning">mockup</a></li>
			<li>Core settings - <a href="/current/core.html">current</a> <span class="muted">|</span> <a href="/settings/core" class="act act-warning">mockup</a></li>
			<li>Instalation settings - <a href="/current/install.html">current</a> <span class="muted">|</span> <a href="/settings/installation" class="act act-warning">mockup</a></li>
			<li>Load management - <a href="/current/load.html">current</a> <span class="muted">|</span> <a href="/settings/loadmanagement" class="act act-warning">mockup</a></li>
			<li>Opennet - <a href="/current/opennet.html">current</a> <span class="muted">|</span>  <a href="/settings/opennet" class="act act-warning">mockup</a></li>
			<li>Request scheduling - <a href="/current/request.html">current</a> <span class="muted">|</span> <a href="/settings/scheduling" class="act act-warning">mockup</a></li>
			<li>Auto-update - <a href="/current/autoupdate.html">current</a> <span class="muted">|</span> <a href="/settings/autoupdate" class="act act-warning">mockup</a></li>
			<li>SSL - <a href="/current/ssl.html">current</a> <span class="muted">|</span> <a href="/settings/ssl" class="act act-warning">mockup</a></li>
			<li>Translations - <a href="/current/translations.html">current</a> <span class="muted">|</span> <a href="/settings/translations" class="act act-warning">mockup</a></li>
			<li>FCP - <a href="/current/fcp.html">current</a> <span class="muted">|</span> <a href="/settings/fcp" class="act act-warning">mockup</a></li>
			<li>Keyutils - <a href="/current/keyutilsconfig.html">current</a> <span class="muted">|</span> <a href="/settings/keyutilssettings" class="act act-warning">mockup</a></li>
			<li>Status menu
				<ul>
					<li>Statistics - <a href="/current/stats.html">current</a> <span class="muted">|</span> <a href="/settings/status/statistics" class="act act-warning">mockup</a></li>
					<li>Diagnostics - current <span class="muted">|</span> <span class="muted">mockup</span></li>
					<li>Connection to strangers - <a href="/current/strangers.html">current</a> <span class="muted">|</span> <a href="/settings/status/connectionstostrangers" class="act act-warning">mockup</a></li>
					<li>Internet Connection - <a href="/current/connectivity.html">current</a> <span class="muted">|</span> <a href="/settings/status/internetconnection" class="act act-warning">mockup</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>