<p class="lead text-center" style="width: 600px;">
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>There are no centralised servers in freenet. Each user of freenet is a node.</h5>" data-placement="bottom">Decentralised</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>By being decentralised content published cannot be taken down. <br>  In freenet, information cannot be removed nor censored.</h5>" data-placement="bottom">censorship-resistant</a>
  <a href="#" class="popme" data-trigger="hover" data-html="true" data-content="<h5>Communications between nodes are encrypted and are routed through other nodes to make it extremely difficult to determine who is requesting the information and what its content is.</h5>" data-placement="bottom">anonymous network </a>
</p>
<script>
$(".popme").popover();


</script>