<section>
	<div class="page-header">
		<h1>Request scheduling</h1>
	</div>


	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Priority policy of the scheduler (CHK requests)</abbr>
			</strong>
			<p class="muted">
				Set the priority policy scheme used by the scheduler.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<select name="node.scheduler.CHKrequester_priority_policy">
					<option value="HARD">HARD</option>
					<option selected="selected" value="SOFT">SOFT</option>
				</select>
			</div>
		</div>
	</div>
	<hr>

	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Priority policy of the scheduler (CHK inserts)</abbr>
			</strong>
			<p class="muted">
				Set the priority policy scheme used by the scheduler.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<select name="node.scheduler.CHKrequester_priority_policy">
					<option value="HARD">HARD</option>
					<option selected="selected" value="SOFT">SOFT</option>
				</select>
			</div>
		</div>
	</div>
	<hr>


	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Priority policy of the scheduler (SSK requests)</abbr>
			</strong>
			<p class="muted">
				Set the priority policy scheme used by the scheduler.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<select name="node.scheduler.CHKrequester_priority_policy">
					<option value="HARD">HARD</option>
					<option selected="selected" value="SOFT">SOFT</option>
				</select>
			</div>
		</div>
	</div>
	<hr>

	
	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Priority policy of the scheduler (SSK inserts)</abbr>
			</strong>
			<p class="muted">
				Set the priority policy scheme used by the scheduler.
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<select name="node.scheduler.CHKrequester_priority_policy">
					<option value="HARD">HARD</option>
					<option selected="selected" value="SOFT">SOFT</option>
				</select>
			</div>
		</div>
	</div>
	<hr>

</section>



<div class="apply-buttons modal-footer">
	<a href="#" class="act act-warning pull-left">Reset to defaults</a>
	<a href="#" class="act act-danger act-large">Discard changes</a>
	<span>or</span>
	<a href="#" class="btn btn-primary btn-large">Save changes</a>
</div>


