<div class="row">
	<div class="offset3 span6 text-center">
		<h3>Search Freenet</h3>
		<br>
		<input type="text" class="span6">
		<br>
		<a href="searchinprogress" class="btn">Search</a>
		<br><br>

	</div>

	<div class="accordion span6 offset3" id="search-advanced">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#search-advanced" href="#collapseTwo">
					Advanced
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<strong>Indexes to use:</strong> <br>
					<label class="checkbox show-item-on-mouse-over"><input type="checkbox"> gogo <a href="#" class="btn btn-danger btn-mini btn-link item-to-show">remove</a></label>
					<label class="checkbox show-item-on-mouse-over"><input type="checkbox"> wanna.old <a href="#" class="btn btn-danger btn-mini btn-link item-to-show">remove</a></label>
					<label class="checkbox show-item-on-mouse-over"><input type="checkbox"> freenetindex <a href="#" class="btn btn-danger btn-mini btn-link item-to-show">remove</a></label>
					<label class="checkbox show-item-on-mouse-over"><input type="checkbox"> wanna <a href="#" class="btn btn-danger btn-mini btn-link item-to-show">remove</a></label>
					<a href="#addIndex" class="btn btn-link btn-mini"  data-toggle="modal">Add Index</a>
					<br><br>
					<strong>Options:</strong>
					<label class="checkbox"><input type="checkbox"> Group sites and editions</label>
					<label class="checkbox"><input type="checkbox"> Show older editions</label>

				</div>
			</div>
		</div>
	</div>
</div>

<div id="addIndex" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Index</h3>
  </div>
  <div class="modal-body">
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputURI">URI</label>
    <div class="controls">
      <input type="password" id="inputURI" placeholder="URI">
    </div>
  </div>
</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary">Save</button>
  </div>
</div>
<br><br>
<div class="muted text-center"><small>WARNING: This search, like the rest of Freenet, is not filtered, and could find offensive or illegal content. Be careful!</small></div>