<div class="row">
	<div class="span8 offset2 text-center">
		<h3>Searching for "query"</h3>
		<h5 class="muted">Search results will appear when done. Please wait..</h5>

		<div class="well" id="search-index-status-block">
			<div class="row">
				<div class="span1">
					<strong>gogo</strong>
				</div>
				<div class="span6">
					<div class="progress progress-striped active">
						<div class="bar bar-success" style="width: 40%;">40%</div>
					</div>
					<div class="muted index-status"><small>Fecthing subindex</small></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="span1">
					<strong class="text-error">wanna</strong>
				</div>
				<div class="span6">
					<div class="progress">
						<div class="bar bar-danger" style="width: 100%;">Failed</div>
					</div>
					<div class="muted index-status"><small>Failed : Index does not contain term "query"</small></div>
				</div>
			</div>
		</div>


		<br><br>
		<div class="accordion text-left" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						More Actions
					</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
						<a href="#" class="btn btn-link">Open search in a new tab</a>
						<br>
						<a href="#" class="btn btn-link">Cancel search</a>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Search Information
					</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						<ul>
							<li>Complete info...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br>
		<p class="text-error"><strong>Attention:</strong> If you change page (by clicking any link) the search will be aborted.</p>
	</div>
</div>