TODO: ESTUDAR MELHOR A PAGINA. EMPURRAR O USUARIO PRA DARKNET, OPENNET NAO EH SEGURA. ELE TEM QUE CONVERCER OS AMIGOS A USAREM TB.


<legend>
<h3>Protection against a stranger attacking you over the Internet</h3>
</legend>
<p class="muted">
Do you know personally anyone who already uses Freenet? If you know at least 3 people who already use Freenet, you can enable darknet mode, so Freenet will only connect to your Friends, greatly improving security. However, if you don't know anyone already on Freenet, or if you want maximum performance, you should enable opennet mode, and Freenet will automatically connect to other Freenet nodes run by strangers (as well as your Friends).
</p>

<h4>Choose your security level:</h4>

<h5>I don't know anyone who already uses Freenet (Opennet mode)</h5>
<small class="muted">Connect to other Freenet nodes automatically (connect to strangers and friends).</small>

<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  <strong>LOW</strong> - I do not care about monitoring and want maximum performance.
</label>
