<section>
	<div class="page-header">
		<button type="button" class="pull-right btn btn-link btn-mini advancedModeBtn" data-parenttohide="ssl">Advanced <i class="icon-caret-down"></i></button>
		<h1>SSL settings</h1>
	</div>




	<div class="row ">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Activate SSL support?</abbr>
			</strong>
			<p class="muted">
				Activate SSL support?
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option1" checked>
					Yes
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="" value="option2">
					No
				</label>
			</div>
		</div>
	</div>
	<hr>


	<div class="row advanced" data-parent="ssl">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Name and path of key store file</abbr>
			</strong>
			<p class="muted">
				Name and path of key store file
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="datastore/certs">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="ssl">



	<div class="row advanced" data-parent="ssl">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Password for access of key store file</abbr>
			</strong>
			<p class="muted">
				Password for access of key store file
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="freenet">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="ssl">



	<div class="row advanced" data-parent="ssl">
		<div class="span8">
			<strong>
				<abbr title="Default: xxx [xxxx.xxx]">Password of private key access</abbr>
			</strong>
			<p class="muted">
				Password of private key access
			</p>
		</div>
		<div class="span4">
			<div class="pull-right">
				<input type="text" class="span4" value="freenet">
			</div>
		</div>
	</div>
	<hr class="advanced" data-parent="ssl">



</section>



<div class="apply-buttons modal-footer">
	<a href="#" class="act act-warning pull-left">Reset to defaults</a>
	<a href="#" class="act act-danger act-large">Discard changes</a>
	<span>or</span>
	<a href="#" class="btn btn-primary btn-large">Save changes</a>
</div>


