<div class="page-header">
	<h3>Upload a Freesite</h3>
</div>

<p>You can anonymously upload a web site to Freenet ("insert a Freesite"). Once it has been uploaded, it will remain on Freenet for as long as people continue to access it occasionally. It is distributed across the network and therefore also available if your computer is turned off. And the most important fact: If the security level of Freenet has been configured properly it should be very difficult to find out who has uploaded a Freesite.
</p>
<br>
<div class="page-header">
	<span class="lead">Tutorials</span>
</div>
<ul>
	<li><a href="#">Publish!</a> - A short tutorial on how to insert freesites</li>
	<li><a href="#">Freesite HOWTO</a> - Another, longer tutorial on how to insert freesites</li>
</ul>
<div class="page-header">
	<span class="lead">Apps</span>
</div>

<strong>Blogs</strong>
<ul>
	<li><strong>FlogHelper</strong> - If you just want to create a simple blog, we recommend you use FlogHelper. <a href="#installAppModal" data-toggle="modal" class="act act-info">Learn more</a></li>
	<li><strong>Thingamablog</strong> - A user-friendly blog generator. <a href="#installAppModalExisting" data-toggle="modal" class="act act-info">Learn more</a></li>
</ul>

<strong>Sites</strong>
<ul>
	<li><strong><a href="#freenetsite">jSite</a></strong> - If you want to upload a website you have mirrored from somewhere, or something larger or more complex. <br>Visit jSite site using: <a href="#">Freenet</a> <span class="muted">|</span> <a href="#">Internet</a></li>
</ul>

<%= render 'redesign/welcomemodal_new' %>
<%= render 'redesign/welcomemodal_existing' %>