<section>
	<div class="page-header">
		<h3>Upload a file to Freenet</h3>
	</div>

	<div class="row">
		<div class="span12 text-center">
			<div class="fileupload fileupload-new text-center" data-provides="fileupload">
				<div class="input-append">
					<div class="uneditable-input span7"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
				</div>
			</div>

			<a class="btn btn-success btn-large" href="/uploadingfiles?sel=uploads">Upload file</a>
		</div>
	</div>
	<br><br><br>
	<div class="row">
		<div class="span8 offset2">

			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							Advanced
						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse">
						<div class="accordion-inner">
							<h5>Define a key to the file</h5>
							<span class="muted">There are several different ways to upload (insert) a file to Freenet depending on whether you have uploaded the file before and what your security requirements are.</span>
							<br><br>
							<label class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								Insert a canonical key
								<br><small class="muted">This will always produce the same key for the same file, so is convenient for filesharing. However, if the bad guys can predict what files you are going to insert, they may be able to use this to trace you a lot more easily.</small>
							</label>
							<label class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
								Insert a random, safe key
								<br><small class="muted">This is much safer than the first option, but the key will be different every time you or somebody else inserts the key. Use this if you are the original source of some sensitive data.</small>
							</label>
							<label class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  data-parenttohide="specify" class="advancedModeBtn">
								Specify a key 
								<br>
								<input type="text" placeholder="Insert key"  data-parent="specify" class="advanced input-xxlarge">
								<p><small class="muted">If you know the exact key you want to insert to, please specify it here. If it is an SSK, USK or KSK, all the data under it will be encrypted randomly like with option 2.</small></p>
							</label>
							<h5>Compression</h5>
							<label class="checkbox">
								<input type="checkbox" class="advancedModeBtn" data-parenttohide="compress"> Compress file
							</label>
							<form class="form-horizontal advanced" data-parent="compress">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Compatibility mode:</label>
								<div class="controls">
									<select>
										<option>Current (most efficient)</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPassword">Splitfile encryption key:</label>
								<div class="controls">
									<input type="text" placeholder="Hex value" class="input-medium"> <small>(optional)</small>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>