</section>
<style type="text/css">
body {
  margin-left: 20px;
  margin-right: 20px;
}
</style>

<div class="row">
  <div class="span3">
    <%= render partial: 'redesign/sharefiles_navbar', locals: {sel:  params[:sel]} %> 
  </div>

  <div class="span12">
    <div class="btn-toolbar">
    <a href="#" class="btn btn-primary"><i class="icon-arrow-up"></i> Upload new file</a>
    
      <a href="#" class="btn"><i class="icon-info-sign"></i> Details</a>
      <div class="btn-group">
        <a class="btn dropdown-toggle" id="btn_trust" data-toggle="dropdown" href="#">
          Priority
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="">High</a></li>
          <li><a href="">Normal</a></li>
          <li><a href="">Low</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <a class="btn dropdown-toggle" id="btn_trust" data-toggle="dropdown" href="#">
          <i class="icon-tags"></i> Labels
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-form">
          <li><label class="checkbox">
          <input type="checkbox" class="label-item"> Books </label>
          <i class="icon-trash label-action pull-right " data-toggle="tooltip" title="Remove" data-placement="bottom" style="display:none"></i><i class="pull-right icon-edit label-action" data-toggle="tooltip" title="Rename" data-placement="bottom" style="display:none"></i>
           </li>
          <li><label class="checkbox">
          <input type="checkbox" class="label-item"> Music
           </label></li>
          <li class="divider"></li>
          <li id="labels-create"><a href="#">Create new</a></li>
          <li id="labels-edit"><a href="#">Edit labels</a></li>
          <li id="labels-doneedit" style="display:none"><a href="#">Done editing</a></li>
          <li id="labels-apply" style="display:none"><a href="#">Apply</a></li>
        </ul>
      </div>

      <div class="btn-group pull-right">
        <button class="btn">Remove from list</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Remove from computer</a></li>
        </ul>
      </div>
            <a href="#" class="btn pull-right"  id="btn_remove">Cancel</a>

    </div>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          <th class="text-small">Name</th>
          <th class="text-small">Size</th>
          <th class="text-small" width="20%">Status</th>
          <th class="text-small">Priority</th>
          <th class="text-small">Last activity</th>
          <th class="text-small">Labels</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer">
          <td><input type="checkbox"></td>
          <td>Adagio_for_strings.mp3</td>
          <td>10 MB</td>
          <td>
            <div class="progress progress-info no-margin">
            <div class="bar" style="width: 50%">20%</div>
          </div></td>
          <td><small>HIGH</small></td>
          <td>5m 13s</td>
          <td><span class="label">Music</span></td>
        </tr>
        <tr style="cursor: pointer">
          <td><input type="checkbox"></td>
          <td>Adagio_for_strings1.mp3</td>
          <td>10 MB</td>
          <td><div class="progress progress-success no-margin">
            <div class="bar" style="width: 100%">Completed!</div>
          </div></td>
          <td><small>HIGH</small></td>
          <td>5m 13s</td>
          <td><span class="label">Music</span></td>
        </tr>
        <tr style="cursor: pointer">
          <td><input type="checkbox"></td>
          <td>Adagio_for_strings2.mp3</td>
          <td>10 MB</td>
          <td><div class="progress progress-danger no-margin">
            <div class="bar" style="width: 100%">Error</div>
          </div></td>
          <td><small>HIGH</small></td>
          <td>5m 13s</td>
          <td><span class="label">Music</span></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

  <!-- div class="mockup-alert">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      mockup note: each button will be enabled/disabled according to the possible actions of each file state
    </div>
  </div -->