<!-- div id="statusbar-container">
  <div id="statusbar">
    <div id="statusbar-alerts" class="alerts-line contains-information">
      <div class="infobox-header">
        Outstanding alerts
      </div>
      <div class="infobox-content">
        <a href="http://127.0.0.1:8888/alerts/">Messages: 1 Minor</a>
      </div>

    </div>
    <div class="separator">
      &nbsp;
    </div>
    <div id="statusbar-language">
      <a href="http://127.0.0.1:8888/config/node#l10n">English</a>
    </div>
    <div class="separator">
      &nbsp;
    </div>
    <div id="statusbar-switchmode" class="advanced">
      <a href="http://127.0.0.1:8888/?fproxyAdvancedMode=2">Switch to advanced mode</a>
    </div>
    <div class="separator">
      &nbsp;
    </div>
    <div id="statusbar-seclevels">
      Security
      levels:<a title="Protection against a stranger attacking you over the Internet" class="low" href="http://127.0.0.1:8888/seclevels/">LOW&nbsp;</a><a title="Protection of your downloads, uploads and Freenet browsing cache" class="normal" href="http://127.0.0.1:8888/seclevels/">LOW</a>
    </div>
    <div class="separator">
      &nbsp;
    </div>
    <div class="progressbar">
      <div style="width: 60.0%;" class="progressbar-done progressbar-peers avg-peers">
      </div>
      <div title="We are currently connected to 0 friends and 6 strangers." class="progress_fraction_finalized">
        6 / 10
      </div>

    </div>

  </div>

</div -->



<!-- div id="navbar">
  <ul id="navlist">
    <li id="FProxyToadlet_categoryTitleBrowsing" class="navlist-selected">
      <a title="Browse Freenet" href="./welcome_files/welcome.html">Browsing</a>
      <ul class="subnavlist-selected">
        <li class="submenuitem-selected">
          <a title="Browse and search Freesites, web sites hosted anonymously on Freenet" href="./welcome_files/welcome.html">Browse
            Freenet</a></li>
        <li class="submenuitem-not-selected">
          <a title="Upload a web site anonymously to Freenet" href="http://127.0.0.1:8888/insertsite/">Upload a
            Freesite</a></li>
        <li class="submenuitem-not-selected">
          <a title="Search Freenet!" href="http://127.0.0.1:8888/library/">Search Freenet!</a></li>

      </ul>
    </li>
    <li id="FProxyToadlet_categoryTitleQueue" class="navlist-not-selected">
      <a title="Uploads and downloads" href="http://127.0.0.1:8888/downloads/">Filesharing</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="Files being downloaded from Freenet" href="http://127.0.0.1:8888/downloads/">Downloads</a></li>
        <li class="submenuitem-not-selected">
          <a title="Files being uploaded to Freenet" href="http://127.0.0.1:8888/uploads/">Uploads</a></li>
        <li class="submenuitem-not-selected">
          <a title="Upload a file to Freenet" href="http://127.0.0.1:8888/insertfile/">Upload a file</a></li>

      </ul>
    </li>
    <li id="FProxyToadlet_categoryTitleFriends" class="navlist-not-selected">
      <a title="Connect to your friends to improve Freenet&#39;s performance and security" href="http://127.0.0.1:8888/friends/">Friends</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="Connections to your friends&#39; nodes" href="http://127.0.0.1:8888/friends/">Connections to
            friends</a></li>
        <li class="submenuitem-not-selected">
          <a title="Connect to a friend running Freenet to improve your security" href="http://127.0.0.1:8888/addfriend/">Add
            a Friend</a></li>

      </ul>
    </li>
    <li id="FProxyToadlet_categoryTitleChat" class="navlist-not-selected">
      <a title="Talk with other people over Freenet on message boards" href="http://127.0.0.1:8888/chat/">Discussion</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="How to talk to other Freenet users anonymously over chat forums" href="http://127.0.0.1:8888/chat/">Forums</a>
        </li>

      </ul>
    </li>
    <li id="FProxyToadlet_categoryTitleStatus" class="navlist-not-selected">
      <a title="Status information" href="http://127.0.0.1:8888/alerts/">Status</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="Detailed status alerts and messages from your Friends" href="http://127.0.0.1:8888/alerts/">Messages</a>
        </li>
        <li class="submenuitem-not-selected">
          <a title="Connections to nodes you have no reason to trust" href="http://127.0.0.1:8888/strangers/">Connections
            to strangers</a></li>
        <li class="submenuitem-not-selected">
          <a title="Detailed statistics about your Freenet node" href="http://127.0.0.1:8888/stats/">Statistics</a></li>
        <li class="submenuitem-not-selected">
          <a title="Diagnostics to send to developers" href="http://127.0.0.1:8888/diagnostic/">Diagnostic</a></li>
        <li class="submenuitem-not-selected">
          <a title="Status of your internet connection (port forwarding etc)" href="http://127.0.0.1:8888/connectivity/">Internet
            connection</a></li>

      </ul>
    </li>
    <li id="FProxyToadlet_categoryTitleConfig" class="navlist-not-selected">
      <a title="Configure Freenet" href="http://127.0.0.1:8888/seclevels/">Configuration</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="Configure the level of security provided by Freenet" href="http://127.0.0.1:8888/seclevels/">Security
            Levels</a></li>
        <li class="submenuitem-not-selected">
          <a title="Configure plugins" href="http://127.0.0.1:8888/plugins/">Plugins</a></li>
        <li class="submenuitem-not-selected">
          <a title="Configure the web interface" href="http://127.0.0.1:8888/config/fproxy">Web interface</a></li>
        <li class="submenuitem-not-selected">
          <a title="Configure the amount of information kept by Freenet for troubleshooting purposes" href="http://127.0.0.1:8888/config/logger">Logs</a>
        </li>
        <li class="submenuitem-not-selected">
          <a title="Configure core settings e.g. bandwidth usage" href="http://127.0.0.1:8888/config/node">Core
            settings</a></li>
        <li class="submenuitem-not-selected">
          <a title="Configure the auto-update system" href="http://127.0.0.1:8888/config/node.updater">Auto-update</a>
        </li>
        <li class="submenuitem-not-selected">
          <a title="Contribute to the translation" href="http://127.0.0.1:8888/translation/">Translation</a></li>
        <li class="submenuitem-not-selected">
          <a title="default settings for KeyUtils" href="http://127.0.0.1:8888/config/plugins.KeyUtils.KeyUtilsPlugin">KeyUtils</a>
        </li>

      </ul>
    </li>
    <li id="plugins_KeyUtils_KeyUtilsPlugin-ConfigToadlet_plugins_KeyUtils_KeyUtilsPlugin_label" class="navlist-not-selected">
      <a title="Toolbox for debugging Freenet URIs and more…" href="http://127.0.0.1:8888/KeyUtils/">KeyUtils</a>
      <ul class="subnavlist">
        <li class="submenuitem-not-selected">
          <a title="Explore a Freenet URI" href="http://127.0.0.1:8888/KeyUtils/">Key Explorer</a></li>
        <li class="submenuitem-not-selected">
          <a title="Explore a site manifest" href="http://127.0.0.1:8888/KeyUtils/Site">Site Explorer</a></li>
        <li class="submenuitem-not-selected">
          <a title="Explore a split file" href="http://127.0.0.1:8888/KeyUtils/Split">Split Explorer</a></li>
        <li class="submenuitem-not-selected">
          <a title="Compose and decompose Freenet URI extra data" href="http://127.0.0.1:8888/KeyUtils/Extra">Extra
            Calculator</a></li>
        <li class="submenuitem-not-selected">
          <a title="Show the contents of a FBlob" href="http://127.0.0.1:8888/KeyUtils/FBlob">FBlob Viewer</a></li>
        <li class="submenuitem-not-selected">
          <a title="Convert a file key to CHK" href="http://127.0.0.1:8888/KeyUtils/KeyConverter">Key Converter</a></li>
        <li class="submenuitem-not-selected">
          <a title="Info about Key Utils" href="http://127.0.0.1:8888/KeyUtils/About">About</a></li>

      </ul>
    </li>

  </ul>

</div>
<div id="selected-subnavbar">
  <ul id="selected-subnavbar-list">
    <li class="submenuitem-selected">
      <a title="Browse and search Freesites, web sites hosted anonymously on Freenet" href="./welcome_files/welcome.html">Browse
        Freenet</a></li>
    <li class="submenuitem-not-selected">
      <a title="Upload a web site anonymously to Freenet" href="http://127.0.0.1:8888/insertsite/">Upload a Freesite</a>
    </li>
    <li class="submenuitem-not-selected">
      <a title="Search Freenet!" href="http://127.0.0.1:8888/library/">Search Freenet!</a></li>

  </ul>

</div -->
<div class="row">
  <div class="span4">
    <legend>Messages</legend>
    <div class="alert alert-info alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Bookmark Updated</strong>
      The bookmarked site <a href="#">Freenet Message System</a> has been updated to edition 137.
      <br><a href="#" class="act">view messages</a> | <a href="#" class="act act-danger"  data-dismiss="alert">delete message</a>
    </div>
    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong>
      Ononononon n onno no on onnono...
      <br><a href="#" class="act">view messages</a> | <a href="#" class="act act-danger"  data-dismiss="alert">delete message</a>
    </div>
  </div>
  <div class="span8" id="bookmarks-container">
    <legend>Bookmarks
    <a class="btn btn-small btn-link pull-right" id="edit-bookmarks">edit</a>
    </legend>
    <div class="accordion" id="bookmark-list">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#bookmark-list" href="#collapseOne">
            Directories of websites on Freenet
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in" style="height: 0px;">
          <div class="accordion-inner">
            <ul>
              <li><a title="A large, regularly updated index, linking to absolutely everything. Some sites may not have accurate descriptions. Be careful!" href="#">Linkageddon</a> <small class="muted">A large, regularly updated index, linking to absolutely everything. Some sites may not have accurate descriptions. Be careful!</small> </li>
              <li><a title="An index of freenet sites with categories" data-toggle="tooltip" href="#">AFKindex</a></li>
              <li><a data-toggle="tooltip"  title="A one-page index with a menu including categories" href="#">The
                Ultimate FreeNet Index</a></li>
              <li><a data-toggle="tooltip" title="A small French index with descriptions" href="#">Index
                des sites Français</a></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#bookmark-list" href="#collapseTwo">
            Freenet related software and documentation
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul>
              <li><a data-toggle="tooltip"  title="The official freesite of FMS, a spam resistant message board system for Freenet"  href="#">Freenet Message System</a></li>
              <li><a data-toggle="tooltip" title="The official site for Freemail - email over Freenet"  href="#">Freemail</a></li>
              <li><a data-toggle="tooltip"  title="Simple guide to publishing web sites to Freenet" href="#">Publish!</a></li>
              <li><a data-toggle="tooltip"  title="A more detailed explanation of publishing freesites" href="#/">Freesite HOWTO</a></li>
              <li><a data-toggle="tooltip"  title="Fast anonymous social chat over Freenet" href="#">Sone</a></li>
              <li><a data-toggle="tooltip"  title="Tool for uploading freesites (Freenet websites)" href="http://127.0.0.1:8888/USK@e3myoFyp5avg6WYN16ImHri6J7Nj8980Fm~aQe4EX1U,QvbWT0ImE0TwLODTl7EoJx2NBnwDxTbLTE6zkB-eGPs,AQACAAE/jSite/19/">jSite</a></li>
              <li><a data-toggle="tooltip"  title="A Wiki about Freenet (needs some tools to edit)" href="#">Freenet
                Documentation Wiki</a></li>
              <li><a data-toggle="tooltip"  title="An illustrated guide to setting up social networking tools" href="#">Freenet Social Networking Guide</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#bookmark-list" href="#collapseThree">
            Freenet team's blogs
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul>
              <li><a data-toggle="tooltip"  title="Toad&#39;s flog" href="#">Toad</a></li>
              <li><a data-toggle="tooltip"  title="Bombe&#39;s flog" href="#">Bombe</a></li>
              <li><a data-toggle="tooltip"  title="Flog of the main Freetalk &amp; Web Of Trust developer" href="#/">xor</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="row">
  <div class="span8">
    <legend>
      Tasks
    </legend>
    <div class="row">
      <div class="span4">
        <h5>Install new apps</h5>
        <ul>
          <li><strong>Sone</strong>  <small class="muted">microblogging platform</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
          <li><strong>FMS</strong>  <small class="muted">forum</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
          <li><strong>FLIC</strong>  <small class="muted">real-time chat</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
          <li><strong>Freemail</strong>  <small class="muted">anonymous email</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
        </ul>
      </div>
      <div class="span4">
        <h5>Discover freenet</h5>
        <ul>
          <li><a href="#">Search</a> <small class="muted">dig in freenet</small></li>
          <li><a href="#">Visit a freesite</a> <small class="muted">(if you already have the key)</small></li>
        </ul>
        <h5>Learn</h5>
        <ul>
          <li><a href="#">Social Guide</a> <small class="muted">social apps how-to</small></li>
          <li><a href="#">Wiki</a> <small class="muted">freenet wiki site</small></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span4">
    <legend>Status</legend>
    <strong>Interface Mode</strong>
    <div class="btn-group pull-right" data-toggle="buttons-radio">
      <button type="button" class="btn btn-small" data-toggle="button">Simple</button>
      <button type="button" class="btn btn-small">Advanced</button>
    </div>
    <br><br>
    <strong>Connections</strong>
    <div class="progress">
      <div class="bar bar-success" style="width: 60%;">6/10</div>
    </div>
    <strong>Security levels</strong>
    <br>
    <span class="text-error"><i class="icon-unlock"></i> LOW </span>
     -
    <span class="text-warning"><i class="icon-unlock-alt"></i> MEDIUM </span>
    <a href="#" class="btn btn-link btn-small">edit</a>
    <br> <br>
    <strong>General</strong>  <br>
    <small>Language: <a href="#">English</a></small>  <br>
    <small>Version: <span class="muted">Freenet 0.7.5 Build #1444 build01444</span> </small>  <br>
    <small>Ext version: <span class="muted">Freenet-ext Build #29 rv29</span></small>  <br>
    <br>
    <strong>Node control</strong>  <br>
    <a href="#" class="btn btn-small ">Restart freenet</a>
    <a href="#" class="btn btn-small ">Shutdown freenet</a>
  </div>
</div>

