

<section>
	<h3>How much disk space do you want to donate to Freenet?</h3>
	<p class="muted">The datastore (disk space) acts like a cache; storing data for the network will help you to get better throughput when requesting popular files. The more space you can afford the better it is for the community and the faster your node and especially your downloads will go.</p>
<br>
	<div class="row">
		<div class="span2"><h3>Disk space</h3></div>
		<div class="span8 text-center" style="padding-top: 20px">
			<input type="text" class="input-xxlarge slider" value="" data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="50" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide" data-target="datastore">
			<br>	<small>The more you donate, the faster Freenet will be.</small>
		</div>
		<div class="span2">
			<h3 id="datastore">50 GB</h3>
		</div>
	</div>
</section>

<br><br>
<div class="apply-buttons modal-footer">
<a href="/wizard2?menu=wizard" class="btn btn-primary btn-large">Next <i class="icon-arrow-right"></i></a>
</div>