// Mockups css - No comments, no best practices, total chaos...

//Main menus in the navbar
header li[id|=navbar-item] > a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#navbar-item-openapp > li > a {
  font-weight: bold;
  color: white;
}

#navbar-item-notifications > a,
#navbar-item-downloads > a,
#navbar-item-security > a,
#navbar-item-settings > a, {
  font-size: 20px;
}

#edit-bookmarks {
  margin-top: 10px;
}

.help-icon {
	text-decorarion: none;
	font-size: 1.1em;
}

#search-advanced {
	margin-top: 100px;
}

.show-item-on-mouse-over .item-to-show {
	display:none;
}

.show-item-on-mouse-over:hover .item-to-show {
	display:inline;
}

.index-status {
	margin-top: -20px;
}

#search-index-status-block {
	margin-top: 40px;
}

.text-small {
	font-size: 0.8em;
}

abbr[title],
abbr[data-original-title] {
  border: none;
}

//advanced itens start hidden
.advanced {
	display: none;
}

//dont mess with config titles
legend h3 {
	display: inline;
}

body {
	margin-bottom: 20px;
}

.apply-buttons  span {
	margin-right: 10px;
	margin-left: 10px;
}

.apply-buttons.modal-footer {
	border: 1px solid #ddd;
}

.apply-buttons.modal-footer .act-warning {
	margin-top: 10px;
}

//Remove margins (used on download progress bars)
 .no-margin {
 	margin: 0;
 }


 .dropdown-menu-form .checkbox {
 	margin-left: 10px;
 }

 .dropdown-menu-form label {
 	display: inline-block;

 }

.mockup-alert {
  position: absolute;
  bottom: 0;
  z-index: 1020;
  width: 80%;
}

